
  .subscribe-button{
    background-color: rgb(200, 93, 163);
    color: white;
    border: none;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
  }
  .subscribe-button:hover{
    opacity: 0.8;
  }
  .subscribe-button:active{
    opacity: 0.3;
  }
  .join-button{
    background-color: white;
    color: blue;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 1s,color 1s;
  }
  .join-button:hover{
    background-color:blue ;
    color: white;
    
  }
  .join-button:active{
    opacity: 0.5;
  }
  .tweet-button{
    background-color: blue;
    color: white;
    height: 36px;
    width: 80px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 1s;
  }
  .tweet-button:hover{
    box-shadow: 5px 5px 5px rgba(27, 24, 24,0.15);
  }

